#!/usr/bin/env bash

# TODO finish moving aliases to fish

#------------------------------------------------------------------------------#
# Defaults
#------------------------------------------------------------------------------#

# Enable aliases to be sudoed
alias sudo='sudo '

# Easier navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Make directories recursively (ex. `my/tree` will make both folders)
alias mkdir="mkdir -p"

#------------------------------------------------------------------------------#
# Rust Replacements
#------------------------------------------------------------------------------#

alias ls="exa"
alias cat="bat"
alias find="fd"
alias grep="ripgrep"
alias tree="exa -T"

#------------------------------------------------------------------------------#
# General
#------------------------------------------------------------------------------#

# Persistent sudo
alias sama="sudo -v; while true; do sudo -n true; sleep 60; kill -0 \"$$\" || exit; done 2>/dev/null &"

# Opens current directory in Finder
alias f="open -a Finder ./"

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Show, hide, lock, or unlock file
alias show="chflags nohidden"
alias hide="chflags hidden"
alias lock="chflags uchg"
alias unlock="chflags nouchg"
# Show, hide, lock, or unlock files recursively
# `hide_all folder` would hide the folder and all files within it
alias show_all="chflags -R nohidden"
alias hide_all="chflags -R hidden"
alias lock_all="chflags -R uchg"
alias unlock_all="chflags -R nouchg"
# Show/hide symlinks without hiding the destination
alias show_alias="chflags -h nohidden"
alias hide_alias="chflags -h hidden"

#------------------------------------------------------------------------------#
# Maintenance
#------------------------------------------------------------------------------#

# Update dotfiles
alias update_dotfiles='~/prime/dotfiles/install.sh'

# Update all git repos in this directory
alias update_repos='find . -type d -depth 1 -exec git --git-dir={}/.git --work-tree=$PWD/{} pull origin master \;'

# Update custom symlinks
alias update_symlinks='~/Documents/Repos/Scripts/CreateSymlinks.sh'

# Clean up LaunchServices to remove duplicates in the "Open With" menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

# Recursively delete `.DS_Store` files
alias dscleanup="find . -type f -name '.DS_Store' -ls -delete; killall Finder"

# Clear clipboard
alias clearclipboard="pbcopy < /dev/null"

# Clear cache
alias clearcache="
  rm -rf .cache
  rm -rf .composer/cache
  rm -rf .expo/*cache
  rm -rf .gradle/caches
  rm -rf ~/Library/Application\ Support/Keybase/kbfs_block_cache
  rm -rf ~/Library/Application\ Support/Google/DriveFS
  rm -rf ~/Library/Developer/CoreSimulator
"

# Clear Apple's System Logs to improve shell startup speed.
# Clear download history from quarantine.
alias clearlogs="sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"

# Empty the Trash on all mounted volumes and the main HDD.
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash"

#------------------------------------------------------------------------------#
# Internet
#------------------------------------------------------------------------------#

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias hostip="dig +short"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"
# Show active network interfaces
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"
# All listening connections
alias openports='sudo lsof -i | grep LISTEN'
# Downloads list of links from source input and preserves directory structure
alias wgetlist="wget -r --no-remove-listing -i"
# wget settings for mirroring
alias mirror='wget -cmkEpnp'
# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

#------------------------------------------------------------------------------#
# Terminal
#------------------------------------------------------------------------------#

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

#------------------------------------------------------------------------------#
# Other
#------------------------------------------------------------------------------#

# Intuitive map function
# For example, to list all directories that contain a certain file:
# `find . -name .gitattributes | map dirname`
alias map="xargs -n1"

# Merge PDF files
# `mergepdf -o output.pdf input{1,2,3}.pdf`
alias mergepdf='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py'

# Convert plist files to xml or binary
alias plist_to_xml='plutil -convert xml1'
alias plist_to_binary='plutil -convert binary1'

# Relink all brew links
alias brew_relink="brew list -1 | while read line; do brew unlink $line; brew link $line; done"

# When audio isn't working
alias fix_audio='sudo killall coreaudiod'

#------------------------------------------------------------------------------#
# Shortcuts
#------------------------------------------------------------------------------#

# ⌘K
alias c="printf '\033c\e[3J'"

# m stands for metadata
# `m -j file` outputs json
alias m='exiftool'

# Reload
alias r="reload"
