dotfiles/.extra
dotfiles/.ssh/config
dotfiles/.ssh/*_rsa*
dotfiles/!.ssh/example_rsa*

dotfiles/.hosts/hosts
dotfiles/.hosts/*/*/hosts
dotfiles/.hosts/*/*/*/hosts
dotfiles/.hosts/myhosts
dotfiles/.hosts/blacklist
dotfiles/.hosts/whitelist
