dotfiles/.extra
dotfiles/.ssh/config
dotfiles/.ssh/*_rsa*
dotfiles/!.ssh/example_rsa*

hosts/hosts
hosts/*/*/hosts
hosts/*/*/*/hosts
hosts-*
hosts/httpd-vhosts.conf
hosts/.hosts
hosts/blacklist
hosts/whitelist
